<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>

<!--In _comments.html.erb, there is already partial defined-->
<h2>Comments</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<!--The second render just defines the partial template we want to render, comments/form. Rails is smart enough to spot the forward slash in that string and realize that you want to render the _form.html.erb file in the app/views/comments directory.-->
<%= render "comments/form", article: @article, comment: @article.comments.build %>

